.cards {
  margin: 0 auto;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 17px;
  row-gap: normal;
  padding: 0;
  margin: 0;
}
@media screen and(max-width: 620px) {
  .cards__list {
    grid-gap: 20px;
  }
}
