.footer {
  display: flex;
  padding-top: 67px;
  padding-bottom: 60px;
}
.footer__copyright {
  color: #545454;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 620px) {
  .footer {
    max-width: fit-content;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
