.header {
  padding-top: 45px;
  border-bottom: 1px rgba(84, 84, 84) solid;
  opacity: 0.7;
  padding-bottom: 41px;
}

.header__logo {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 620px) {
  .header__logo {
    height: 24px;
    width: 126px;
    padding-left: 27px;
  }

  .header {
    padding-bottom: 20.5px;
  }
}
