.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  align-items: center;
  display: none;
  justify-content: center;
  padding: 0 19px;
  transition: visibility 0s, opacity 0.5s, linear;
}

.modal__container {
  background-color: #fff;
  position: relative;
  padding: 36px;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
}

.modal__input {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 54px;
  margin-bottom: 36px;
  width: 100%;
  gap: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 1;
}

.modal__close {
  background-image: url("../images/Close\ Icon.svg");
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: -45px;
  right: -45px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__pic-container {
  position: relative;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal_opened {
  display: flex;
}

.modal__heading {
  color: black;
  font-size: 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.modal__form {
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
}

.modal__button {
  color: #fff;
  background-color: #000;
  font-size: 18px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 400;
  border: none;
  width: 100%;
  height: 50.2px;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .modal__form {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .modal__heading {
    font-size: 18px;
    margin-top: 25px;
  }

  .modal__input {
    gap: 30px;
  }

  .modal__button {
    height: 46px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
  }
}
.modal__preview {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s, linear;
}

.modal__preview:hover {
  visibility: visible;
  opacity: 1;
}
