.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 51px;
}

.page__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 620px) {
  .page__content {
    padding-left: 19px;
    padding-right: 19px;
  }
  .page__section {
    padding-bottom: 19px;
  }
}
